button {
  margin-top: 20px;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  border: none;
  width: 164px;
  height: 45px;
  background-color: #2da762f1;
  color: #fff;
  font-size: 18px;
}
